.photo {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}

.photo img {
    width: 464px;
    height: 565px;
    object-fit: cover;
    object-position: 50% 50%;
    border: 2px solid white;
}

.photo_text {
    
    font-size: 15px;
    width: 50%;
    padding-top: 50px;
    margin-top: 70px !important;
    text-align: center;
    margin: auto;
    color: rgb(206, 204, 204);
}
.photo_text h2{
    letter-spacing: 2px;
    font-size: 25px;
    padding-bottom: 20px;
}
.btn_photo{
    margin-top: 30px;
}